:root {
  --font-family-primary: 'Roboto';
  --font-family-secondary: 'Raleway';
  --color-text-primary: #212121;
  --color-text-hover: #2196f3;
  --color-text-link: #757575;
  --color-text-link-footer: #ffffff99;
  --color-text-secendary: #ffffff;
  --background-color-heder-button: #f5f4fa;
  --background-color-main-first-footer: #2f303a;
  --background-color-porfolio-header: #e5e5e5;
  --background-page-color: #ffffff;
  --background-color-hover: #2196f3;
  --background-fill-color-first: #ffffff;
  --background-fill-color-secendary: #afb1b8;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
body {
  font-family: var(--font-family-primary), sans-serif;
  background: var(--color-text-secendary);
  color: var(--color-text-primary);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--color-text-secendary);
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 106px;
  max-width: 696px;
}
h3 {
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
h2 {
  font-family: var(--font-family-primary);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
p {
  font-family: var(--font-family-primary);
  font-size: 14px;
  line-height: 1.87;
  color: var(--color-text-link);
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.section {
  padding: 94px 0px;
}
.section-lorem {
  padding-bottom: 0;
  display: flex;
}
.header-background-2 {
  background: var(--background-color-heder-button);
}
.link:hover,
.header-link:hover,
.header-link:focus,
.header-link-kontact:hover,
.header-link-kontact:focus,
.link:focus {
  color: var(--color-text-hover);
}

/* -------HEADER-------- */
.header-background {
  background: var(--background-page-color);
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.header-nav {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}
.is-active {
  position: relative;
}
.is-active::after {
  content: '';
  position: absolute;
  background: var(--background-color-hover);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-top: 30px;
}
.menu-link {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-text-hover);
}
.studio {
  color: var(--color-text-primary);
}
.header-navi {
  display: flex;
  justify-content: center;
  gap: 46px;
  align-items: center;
  margin-left: 93px;
}
.header-link {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-text-link);
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-kontact {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-text-link);
  letter-spacing: 0.02em;
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links {
  color: var(--color-text-link);
}
.container-kontact {
  display: flex;
  gap: 50px;
}
/* ------EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU------ */
.main-first {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  text-align: center;
  display: flex;
}
.button-secendary,
.button-primery {
  background-color: var(--background-color-heder-button);
  border-radius: 4px;
  color: var(--color-text-primary);
}
.button-primery {
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  font-family: var(--font-family-primary);
  font-weight: 700;
  background: var(--color-text-hover);
  color: var(--color-text-secendary);
  padding: 10px 41px 10px 42px;
  margin-top: 30px;
  margin-bottom: 106px;
}
.list-feature {
  display: flex;
  gap: 30px;
}
.lorem-padding {
  padding-bottom: 10px;
}
/* -----CZYM SIĘ ZAJMUJEMY----- */
.container-job {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.img-z-title {
  position: relative;
  max-height: 294px;
}
.img-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--color-text-secendary);
  text-align: center;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}
/* --------NASZ ZESPÓŁ--------- */
.section-background {
  background: var(--background-color-heder-button);
}
.container-person {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.color-card {
  background: var(--background-page-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.font-size {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.font-size1 {
  font-size: 16px;
  padding-bottom: 16px;
}
/* ------FOOTER------- */
.main-footer {
  background: var(--background-color-main-first-footer);
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  gap: 70px;
  justify-content: space-between;
}
.studio-footer {
  color: var(--color-text-secendary);
}
.address-color {
  color: var(--color-text-secendary);
  font-style: normal;
  font-size: 14px;
  margin-top: 20px;
  line-height: 1.71;
}
.adress-container > li {
  padding-top: 9px;
}
.link {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.02em;
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-icon {
  font-size: 16px;
  color: var(--color-text-secendary);
  margin-bottom: 20px;
  text-align: start;
}
.footer-team-icon {
  display: flex;
  gap: 10px;
}

.icon-conteiner {
  margin-top: 12px;
}
.newl-conteiner {
  padding-left: 7px;
  margin-top: 12px;
}
.input-signup {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding: 15px;
  margin-right: 12px;
  outline: 0;
  color: #757575;
}
.input-signup:hover,
.input-signup:active {
  border: 1px solid #2196f3;
}
.button-signup {
  width: 200px;
  line-height: 1.87;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-flex;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  gap: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 42px;
  transition: border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-signup:hover {
  stroke: var(--color-text-hover);
}
.icon-signup {
  fill: #ffffff;
}
/* -------------OKONO MODALNE------------ */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--background-fill-color-first);
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-delay: 250ms;
}
.close-btn {
  position: absolute;
  right: 0;
  background-color: var(--background-fill-color-first);
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 10px 9px;
}

.close-icon {
  background-color: var(--background-fill-color-first);
}
.modal-title {
  font-size: 20px;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 12px;
}
.modal-label {
  line-height: 1.17;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, fill;
  position: relative;
}
.modal-form {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  color: #757575;
  font-size: 12px;
}
.modal-imput {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  width: 100%;
  color: #212121;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.modal-icon {
  margin-left: 15px;
  position: absolute;
  left: 0;
  top: 20px;
  margin-top: 14px;
}
.modal-imput:hover,
textarea:hover,
.modal-imput:focus,
textarea:focus {
  border: 1px solid rgba(33, 150, 243, 1);
}
.modal-imput:hover + svg,
.modal-imput:focus + svg {
  fill: rgba(33, 150, 243, 1);
}
textarea {
  width: 100%;
  margin-top: 4px;
  padding: 12px 16px;
  font-size: 12px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  border-radius: 4px;
}
.label-checkbox {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 14px;
  gap: 7px;
  margin-top: 20px;
  align-items: center;
}
.label-checkbox > a {
  color: #2196f3;
  text-decoration: underline;
}
.checkbox-input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}
.checkbox-icon {
  border-radius: 2px;
  width: 16px;
  height: 15px;
  fill: #ffffff;
  border: 0.2px solid rgba(33, 33, 33, 1);
}
.checkbox-icon::after {
  content: '';
  background: #ffffff;
  border: 0.2px solid #ffffff;
}
.checkbox-input:checked + .checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
}
.checkbox-input:checked + .checkbox-icon::after {
  fill: #ffffff;
  border: 0.2px solid rgba(33, 33, 33, 1);
}
.button-send {
  background: var(--color-text-hover);
  color: var(--color-text-secendary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 76px;
  margin: 30px 144px 40px;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  letter-spacing: 0.06em;
}
/* --------ZAKŁADKA PORFOLIO--------- */

.button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.button-secendary {
  font-family: var(--font-family-primary);
  font-weight: 500;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background, color, box-shadow;
}
.button-secendary:hover,
.button-secendary:focus {
  background: var(--color-text-hover);
  color: var(--color-text-secendary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  justify-content: center;
}
.product-cards {
  background: var(--color-text-secendary);
  border: 1px solid #eeeeee;
  transition: box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-cards:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-cards:hover .card-discription {
  transform: translateY(0);
}
.images-conteiner {
  position: relative;
  overflow: hidden;
}
.card-discription {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  color: var(--color-text-secendary);
  padding: 49px 45px 49px 24px;
  font-size: 18px;
  line-height: 1.55;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head1 {
  padding-top: 20px;
  padding-left: 24px;
  font-size: 18px;
}
.head2 {
  padding: 4px 24px 20px 24px;
  font-size: 16px;
}

.icon-feature {
  display: flex;
  width: 270px;
  height: 120px;
  background: var(--background-color-heder-button);
  border-radius: 4px;
  padding: 25px 102px;
  margin-bottom: 30px;
  transition: stroke, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-feature:hover,
.icon-feature:focus .icon-feature:active {
  stroke: var(--color-text-hover);
}
.customer-grup {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.customer {
  display: flex;
  border: 1px solid var(--background-fill-color-secendary);
  border-radius: 4px;
  fill: var(--background-fill-color-secendary);
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  cursor: pointer;
  transition: fill, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer:hover,
.customer:focus {
  fill: var(--color-text-hover);
  border-color: var(--color-text-hover);
}
.client {
  width: 41px;
  height: 46px;
}
.container-link {
  display: flex;
  justify-content: space-between;
}
.name-position {
  flex-direction: column;
  display: flex;
  margin-top: 30px;
  gap: 10px;
}

.lorem-dicription {
  flex-direction: column;
  display: flex;
  gap: 10px;
  padding-top: 30px;
}
.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.team-icon {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.socials-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  fill: var(--background-fill-color-secendary);
  transition: background-color, fill, border-radius, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus,
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--background-color-hover);
  border-radius: 50%;
  fill: var(--background-fill-color-first);
}
.footer-socials-link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--background-fill-color-first);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  transition: background-color, fill, border-radius, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
